:root {
    --blue: #0079c0;
    --light-blue: lighten(#0079c0, 5%);
    --red: #f10101;
    --gray1: #222;
    --gray2: #4a4a4a;
    --gray5: #8a8a8a;
    --gray7: #cacaca;
    --gray8: #e6e6e6;
    --gray9: #f1f1f1;
    --gray10: #f8f8f8;
}
